{
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": true,
    "bracketSpacing": false,
    "htmlWhitespaceSensitivity": "ignore",
    "prettier.semi": false,
    "trailingComma": "none",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}
